[unit]
Description=minecraft

[Service]
WorkingDirectory=/opt/minecraft
ExecStart=/bin/java -Xmx1024M -Xms1024M -jar /opt/minecraft_server.jar nogui
Restart=always

[Install]
WantedBy=multi-user.target
